<% provide(:page_title, 'Home') %>
<div id="demoreel">
  <div id="dr-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet, velit in ornare suscipit, mauris leo placerat turpis, sed convallis magna justo eu tortor. Morbi justo orci, convallis id posuere consequat, aliquam et tortor. Suspendisse magna urna, adipiscing a bibendum a, vehicula id erat. Nunc a feugiat elit. Suspendisse facilisis libero vel orci consequat in aliquam ipsum viverra.</p>
  </div>
  <div id="dr-video">
    <iframe src="http://player.vimeo.com/video/42902996" class="video" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div id="shotlist"><a href="https://dl.dropbox.com/u/6320074/AndrewBangel.com/Files/Andrew%20Bangel%20-%20Shot%20Breakdown%20-%20June%202012.pdf" class="centered">Shot Breakdown</a></div>
  </div>
</div>
