<% provide(:page_title, 'Resume') %>
    <div id="container">
        <div id="header">
            
                <div id="title-block">
                    <h1>A<span class="small-caps">NDREW </span>B<span class="small-caps">ANGEL</span></h1>
                    <h2>Character Animator</h2>
                </div>
            
            
                <div id="main-menu">
                    <ul class="nav">
                    	<li><a href="/demoreel/">Demo Reel</a></li>
                    	<li><a href="/portfolio/">Works</a></li>
                    	<li><a href="/recentactivity/">Recent Activity</a></li>
                    	<li><a href="/resume/">Resumé</a></li>
                    	<li><a href="/contact/">Contact</a></li>
                    </ul>
                </div>
            
        </div>
    
        <div id="content">
            
    <div id="portfolio">
        
    	<ul>
        
    	</ul>
    </div>

        </div>
    
        <div id="footer">
            
            
        </div>
    </div>
