// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-size: 15px;
}

#header {
	@include grid-row;

	& > #title-block { @include grid-column(4); }
	& > #main-menu { @include grid-column(8); }

	margin-top: 75px;
}

#title-block h1 {
	font-variant: small-caps;
	font-weight: normal;
}

#title-block h2 {
	font-weight: normal;
	color: grey;
}

#main-menu ul {
	@include inline-list;
}

#content {
	@include grid-row;
}
